<div class="container p-4 pb-0 bg-light">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row text-dark">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Sight See Tours</h5>

            <p>
              * Some hotels require you to cancel more than 24 hours before check-in. Details on site.
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Top Hotels</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-muted">Hotels in New York</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Hotels in Montreal</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Hotels in Toronto</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Hotels in Vancouver</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Top countries & regions</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-muted">Hotels in Barbados</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Hotels in Aruba</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Hotels in Singapore</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Hotels in Maldives</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Support & FAQs</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-muted">Your bookings</a>
              </li>
              <li>
                <a href="#!" class="text-muted">FAQs</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Contact us</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Review a property</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Other Information</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-muted">About us</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Careers</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Travel Guides</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Site Index</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="mb-4" />

      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="mr-5">Register for free</span>
          <button type="button" class="btn btn-outline-dark btn-rounded">
            Sign up!
          </button>
        </p>
      </section>
      <!-- Section: CTA -->

      <hr class="mb-4" />

      <!-- Section: Social media -->
      <section class="mb-4 text-center">
        <!-- Facebook -->
        <a
           class="btn btn-outline-dark btn-floating m-1"
           href="#!"
           role="button"
           ><i class="fab fa-facebook-f"></i
          ></a>

        <!-- Twitter -->
        <a
           class="btn btn-outline-dark btn-floating m-1"
           href="#!"
           role="button"
           ><i class="fab fa-twitter"></i
          ></a>

        <!-- Google -->
        <a
           class="btn btn-outline-dark btn-floating m-1"
           href="#!"
           role="button"
           ><i class="fab fa-google"></i
          ></a>

        <!-- Instagram -->
        <a
           class="btn btn-outline-dark btn-floating m-1"
           href="#!"
           role="button"
           ><i class="fab fa-instagram"></i
          ></a>

        <!-- Linkedin -->
        <a
           class="btn btn-outline-dark btn-floating m-1"
           href="#!"
           role="button"
           ><i class="fab fa-linkedin-in"></i
          ></a>

        <!-- Github -->
        <a
           class="btn btn-outline-dark btn-floating m-1"
           href="#!"
           role="button"
           ><i class="fab fa-github"></i
          ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
         >sightseetours.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>