<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="booking-form">
          <div class="form-header">
            <h1>Make your reservation</h1>
          </div>
          <form action="/booking/{{bookedProperty.id}}" method="POST">
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                value="{{bookedProperty.title}}, {{bookedProperty.location}}"
                readonly
              />
              <span class="form-label">Destination</span>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="date"
                    name="check_in"
                    required
                  />
                  <span class="form-label">Check In</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="date"
                    name="check_out"
                    required
                  />
                  <span class="form-label">Check out</span>
                </div>
              </div>
            </div>

            <div class="form-btn">
              <button class="submit-btn">Book Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>