<!-- Hero -->
<div
  class="p-5 text-center bg-image rounded-3"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
    height: 400px;
    background-size: cover;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Get more to travel more</h1>
        <h4 class="mb-3">Sight see tours members can get double rewards. Sign up
          for free and start getting points on top of airline miles.
        </h4>
        <a class="btn btn-outline-light btn-lg" href="#!" role="button">See
          flight deals</a>
      </div>
    </div>
  </div>
</div>
<!-- Hero -->