<div class="container my-5 listing">
  <h1 class="my-2"> All Property Listings</h1>
  <div class="card-group vgr-cards">
    {{#each properties}}
      <div class="card">
        <div class="card-img-body">
          <img class="card-img" src="{{this.image_url}}" alt="Card image cap" />
        </div>
        <div class="card-body">
          <h4 class="card-title">{{this.title}}</h4>
          <p class="card-text">{{this.details}}</p>

          <a href="/properties/{{this.id}}" class="btn btn-outline-primary">See
            more</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>